<div> 
    <h1>Enter Your email id</h1>
    
    <form action="/users/forget-password" method="POST">  
        <input type="text" id="email" name="email" placeholder="abc@gmail.com" required>
        <br> 
        <input type="submit" value=" Reset ">
    </form>
</div>