<% if (access){ %>
    <form action="/users/update-password" method="POST" >
        <input type="text" name="new_password" id="new_password" placeholder="new password">
        <br>
        <input type="text" name="confirm_password" id="confirm_password" placeholder="confirm password">
        <br>
        <input type="hidden" name="email" id="email" value="<%=obj.email%>">
        <br><input type="submit" value="Submit">
    </form> 
<% }else{ %>
    <h3>Your Access Token Key has already expired</h3>
<% } %>
