
<link rel="stylesheet" href="/css/signUp.css">
        <form action="sign-up" method="post">
            <br>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>

            <br><br>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>

            <br><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required> 

            <br><br>
            <input type="submit" value="Submit">

        </form>

<p>
    <a href="/users/auth/google">Google Sign in/ Sign Up </a>
</p>
