#user-chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid black;
  height: 350px;
  width: 300px;
  background: white;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

#user-chat-box #chat-messages-list {
  list-style: none;
  padding: 10px;
  height: 70%;
  background-color: white;
  overflow: auto;
}

#user-chat-box #chat-messages-list .other-messsages {
  text-align: left;
  padding: 15px;
}

#user-chat-box #chat-messages-list .other-messsages span {
  display: inline-block;
  padding: 15px;
  background-color: #ffa0a0;
}

#user-chat-box #chat-messages-list .self-messages {
  text-align: right;
  padding: 15px;
}

#user-chat-box #chat-messages-list .self-messages span {
  display: inline-block;
  padding: 15px;
  background-color: wheat;
}

#user-chat-box #chat-message-input-container {
  height: 24%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#user-chat-box #chat-message-input-container #chat-message-input {
  height: 50%;
  width: 70%;
}

#user-chat-box #chat-message-input-container #send-message {
  font-size: 25px;
  height: 50%;
  width: 30%;
  color: white;
  border: none;
  background: #58d258;
}