<h1>
Hey , seems you have forgotten your password 
<br>
Click on the link below to reset the password
</h1>
<h2>
    <a href="http://localhost:8000/users/new-password/?token=<%=data.token%>">Click here</a>
</h2>
